{% extends 'base.html.twig' %}

{% block body %}
    <h1>Libraries list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Releasedate</th>
                <th>Length</th>
                <th>Genres</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for library in libraries %}
            <tr>
                <td><a href="{{ path('library_show', { 'id': library.id }) }}">{{ library.id }}</a></td>
                <td>{{ library.name }}</td>
                <td>{{ library.releaseDate }}</td>
                <td>{{ library.length }}</td>
                <td>{{ library.genres }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('library_show', { 'id': library.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('library_edit', { 'id': library.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('library_new') }}">Create a new library</a>
        </li>
    </ul>
{% endblock %}
